@media screen and (max-width:1000px){
    .container:not(.nav_bar .container){
        grid-template-columns: 1fr;
    }
    .container{
        display: flex;
        padding: 1em;
        justify-content: space-between;
    }
    .header{
        overflow: hidden;
    }
    .slider{
        display: none;
    }
    .title{
        font-size: 3.5em;
    }
    .nav_bar{
        position: relative;
        z-index: 1;
    }
    .btn__active{
        display: block;
        width: 40px;
        display: flex;
        align-items: center; 
        justify-content: center;
        flex-direction: column;
        background-color: #222;
    }
    .btn__active .span{
        background-color: #fff;
    }
    .btn__active .span::before,
    .btn__active .span::after{
        background-color: #fff;
    }
    .nav_bar ul{
        display: none;
    }
    .side_bar{
        display: none;
    }
    .header__bottom .container> div{
        flex-direction: column;
    }
    
    .header__bottom .container >div{
     display: contents;
    }
    .item_center{
        margin: 2em auto;
    }
    .header__bottom .item_bottom{
        padding: 0;
    }
    .col-md-12{
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
    }
    .header__bottom .container{
        flex-wrap: wrap;
    }    
    .bottom__items{
        margin-bottom: 2em;
    }
    .bottom__item{
        justify-content: space-between;
    }
    .item_bottom{
margin-left: 20px;
    }
   
    /* .item_center {
        margin: 2em auto;
    } */
}
@media screen and (max-width:400px){
    html{
        font-size: 14px;
    }
    .col-md-12{
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
        flex-direction: column;
        align-items: initial;
    }
    .item_center{
        margin: 0;
    }
}