:root{
    --primary:#fff;
    --secondary: #a2a2a2;
    --accent: #e2c78c;
}
body{
    margin: 0;
    padding: 0;
    background-color: #151517;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: 0.3s;
    color: var(--primary);
}
a:hover{
    color: var(--accent);

}
p{
    color: var(--secondary);
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width:95%;
    margin: 0 auto;
    display: flex;
    padding-left: 6em;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-image: linear-gradient(90deg, #2c2c2c, #151517);
    min-height: 100vh;
    color: var(--primary);
    position: relative;
    display: flex;
    justify-content: space-between;

}
.header main{
    width: 100%;
    margin: 0 0 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main__img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* .nav__bar .contaier,
.header__body .container{
    padding: 1.65em 2.5em;

} */
.brand{
    font-size: 2em;
    font-weight: 600;
}
.nav_bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar ul li{
    margin: 0 6.5em 0 0 ;
}
.nav_bar ul a{
    padding-bottom: 0.7em;
}

.link__active{
    color: var(--accent);
    border-bottom: 2px var(--accent) solid;
}
.menu__btn{
    background: #3f3f3f;
    padding: 2.2em;
    cursor: pointer;
    transition: 0.3s;
}
.menu__btn .span{
    width: 25px;
    height: 2px;
    background-color: #2c2c2c;
    position: relative;
}
.search{
    filter: invert(1);
}
.btn__active{
    display: none;
}
.menu__btn .span::before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    width: 130%;
    height: 100%;
    background-color: #2c2c2c;

}
.menu__btn .span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    width: 60%;
    height: 100%;
    background-color: #2c2c2c;

}
.side_bar{
    background: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-right: 1px #373739 solid;
    position: absolute;
    z-index: 1;
    height: 100vh;
}
.social{
    padding-bottom: 1em;
}
.social li{
    margin: 1.2em 0;
    transform: rotate(-90deg);
}
.header__body .container> div{
    width: 100%;
    text-align: left;
}
.header__body .container> div p{
    max-width: 60%;
}
.progress{
    width: 50%;
    height: 2px;
    background: #191919;
}
.progress> div{
    width: 33%;
    height: 100%;
    background: var(--accent);
    transition: 0.3s;
}
.slider__text{
    font-size: 0.8em;
    cursor: pointer;
    transition: 0.3s;
    transform: none;
}
.slider__text:hover{
    color: var(--primary);

}
.active{
    color: var(--primary);
    transform: scale(1.1) translateX(2em);
}
.title{
    width: 300px;
    font-size: 4.5em;
    margin: 0.5em 0;
}
.header__bottom{
    background: rgba(5,5,5,0.5);
    backdrop-filter: blur(10px);
}
.header__bottom .container> div{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
/* .header__bottom .item_center, */
.header__bottom .item{
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.header__bottom .item_center{
    
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.header__bottom h4{
    margin: 0.5em 0;
}
.item small:nth-of-type(1),
.item_center small:nth-of-type(1){
    color: var(--secondary);
}
.header__bottom a{
    margin-top: 1em;
    color: var(--accent);
}
.header__bottom .item_bottom{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.width{
    width: 80%;
}
.bottom__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
}
.bottom__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    max-width: 30%;
    flex-basis: 30%;
}

